body {
    margin: 0px;
}
main {
    margin: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: #424242;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #3c3c3c;
}

.navbar li{
    float: left;
}

/* html {
    background: url(/img/pixels.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}